// *** COLORS ***
$blue100: #B3D9FF;
$blue300: #4CA6FF;
$blue500: #0073E6;
$blue700: #004080;
$blue900: #00264D;

$grey100: #F2F2F2;
$grey300: #BDBDBD;
$grey500: #878787;
$grey700: #4F4F4F;
$grey900: #1A1A1A;

// *** LAYOUT ***
$mobile-navbar-height: 65px;

// *** TYPOGRAPHY ***
$heading-text: 'Inter', sans-serif;
$body-text: 'Inter', sans-serif;

// *** Z-INDEX ***
$backdrop: -1;
$base: 0;
$overlay: 1;
$above-overlay: 2;