@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// *** COLORS ***
$blue100: #B3D9FF;
$blue300: #4CA6FF;
$blue500: #0073E6;
$blue700: #004080;
$blue900: #00264D;

$grey100: #F2F2F2;
$grey300: #BDBDBD;
$grey500: #878787;
$grey700: #4F4F4F;
$grey900: #1A1A1A;
$black: #080808;

// *** LAYOUT ***
$max-content: 1280px;
$mobile-navbar-height: 65px;
$navbar-height: 100px;

// *** TYPOGRAPHY ***
$heading-text: 'Outfit', sans-serif;
$body-text: 'Inter', sans-serif;

// *** Z-INDEX ***
$backdrop: -1;
$base: 0;
$overlay: 1;
$above-overlay: 2;