@use '../abstracts/variables';
@use 'loaders.css/src/animations/ball-pulse.scss';

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: variables.$navbar-height;
  padding-bottom: variables.$footer-height;
  position: relative;
  width: 100%;
}

.container {
  border: 1px solid red;
  max-width: variables.$max-content;
}

.content-full {
  margin-bottom: 5rem;
  width: 100%;
}

.content {
  margin: 0 auto 5rem auto;
  width: 95%;

  & > div {
    margin: 0 auto;
    max-width: max-content;
    width: 95%;
  }
}

.bg-pattern {
  &::after {
    background-attachment: fixed;
    background-color: variables.$grey900;
    background-size: 50%;
    bottom: 0;
    content: '';
    height: 95vh;
    left: 0;
    opacity: 0.4;
    position: absolute;
    transform: scaleX(-1);
    width: 100vw;
    z-index: calc(variables.$backdrop - 1);
  }
}

// Animation Classes
.page-move-to-top {
  -webkit-animation: moveToTop .6s ease both;
	animation: moveToTop .6s ease both;
}

.page-move-from-bottom {
  -webkit-animation: moveFromBottom .6s ease both;
	animation: moveFromBottom .6s ease both;
}

// Animations Keyframes
@keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-100%); }
}

@keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

@-webkit-keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); }
}
