@use '../abstracts/variables';
@use 'loaders.css/src/animations/ball-pulse.scss';

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bg-pattern {
  &::after {
    background-attachment: fixed;
    background-image: url("/images/pattern.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: '';
    height: 100vh;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: variables.$backdrop;
  }
}

.page-content {
  flex: 1;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.page-content-home {
  flex: 1;
  margin: 0 auto;
  width: 100%;
}

.loading-overlay {
  align-items: center;
  background-color: variables.$blue500;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: variables.$above-overlay;
}

.loading-overlay-show {
  top: 0;
  transition: all .7s cubic-bezier(.165,.84,.44,1);
  z-index: variables.$above-overlay;
}

.loading-overlay-hidden {
  top: -100vh;
  transition: all .7s cubic-bezier(.165,.84,.44,1);
  z-index: variables.$above-overlay;
}