@use '../abstracts/variables';
@use 'loaders.css/src/animations/ball-pulse.scss';

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 100px;
}

.bg-pattern {
  &::after {
    background-attachment: fixed;
    background-color: variables.$grey900;
    background-image: variables.$pattern;
    background-size: 50%;
    bottom: 0;
    content: '';
    height: 95vh;
    left: 0;
    opacity: 0.4;
    position: absolute;
    transform: scaleX(-1);
    width: 100vw;
    z-index: calc(variables.$backdrop - 1);
  }
}

.page-content {
  flex: 1;
  margin: 0 auto;
  max-width: variables.$max-content;
  padding: 3vw 0;
  width: 90%;
}

.page-content-full {
  flex: 1;
  margin: 0 auto;
  width: 100%;
}

p {
  line-height: 2;
  margin-bottom: 1.5vw;
}

.loading-overlay {
  align-items: center;
  background-color: variables.$black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: variables.$above-overlay;
}

.loading-overlay-show {
  background-color: variables.$black;
  top: 0;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: variables.$above-overlay;
}

.loading-overlay-hidden {
  top: -100vh;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: variables.$above-overlay;
}
