@use '../abstracts/variables';
@use 'loaders.css/src/animations/ball-pulse.scss';

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: variables.$navbar-height;
  padding-bottom: variables.$footer-height;
  position: relative;
  width: 100%;
}

.container {
  border: 1px solid red;
  max-width: variables.$max-content;
}

.content-full {
  margin-bottom: 5rem;
  width: 100%;
}

.content {
  margin: 0 auto 5rem auto;
  width: 95%;

  & > div {
    margin: 0 auto;
    max-width: max-content;
    width: 95%;
  }
}

.bg-pattern {
  &::after {
    background-attachment: fixed;
    background-color: variables.$grey900;
    background-size: 50%;
    bottom: 0;
    content: '';
    height: 95vh;
    left: 0;
    opacity: 0.4;
    position: absolute;
    transform: scaleX(-1);
    width: 100vw;
    z-index: calc(variables.$backdrop - 1);
  }
}

.loading-overlay {
  align-items: center;
  background-color: variables.$black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: variables.$above-overlay;
}

.loading-overlay-show {
  background-color: variables.$black;
  top: 0;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: variables.$above-overlay;
}

.loading-overlay-hidden {
  top: -100vh;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: variables.$above-overlay;
}
