@use '../abstracts/variables';
@use 'loaders.css/src/animations/ball-pulse.scss';

.page-content {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.page-content-home {
  margin: 0 auto;
  width: 100%;
}

.loading-overlay {
  align-items: center;
  background-color: variables.$blue500;
  display: flex;
  height: 100vh;
  justify-content: center;
  opacity: 1;
  position: fixed;
  right: 0;
  transition: 0.5s;
  width: 100vw;
}

.loading-overlay-hidden {
  right: -100vw;
  transition: 0.5s;
}

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}

a {
  color: variables.$blue500;
  font-weight: 500;
  text-decoration: none;
  transition: 0.5s;

  &:hover {
    color: variables.$blue300;
  }
}