@use '../abstracts/variables';
@use 'loaders.css/src/animations/ball-pulse.scss';

.page-content {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.page-content-home {
  margin: 0 auto;
  width: 100%;
}

.loading-overlay {
  align-items: center;
  background-color: variables.$blue500;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  opacity: 1;
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in;
  width: 100vw;
  z-index: variables.$above-overlay;
}

.loading-overlay-show {
  top: 0;
  z-index: variables.$above-overlay;
}

.loading-overlay-hidden {
  top: -100vh;
  z-index: variables.$above-overlay;
}