@use '../abstracts/variables';
@use 'loaders.css/src/animations/ball-pulse.scss';

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bg-pattern {
  &::after {
    background-attachment: fixed;
    background-color: variables.$grey900;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%234f4f4f' fill-opacity='0.61'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 75%;
    bottom: 0;
    content: '';
    height: 100vh;
    left: 0;
    opacity: 0.25;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: calc(variables.$backdrop - 1);
  }
}

.page-content {
  flex: 1;
  margin: 0 auto;
  max-width: 1280px;
  padding: 5vw 0;
  width: 90%;
}

.page-content-home {
  flex: 1;
  margin: 0 auto;
  width: 100%;
}

p {
  margin-bottom: 1.5vw;
}

.loading-overlay {
  align-items: center;
  background-color: variables.$black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: variables.$above-overlay;
}

.loading-overlay-show {
  background-color: variables.$black;
  top: 0;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: variables.$above-overlay;
}

.loading-overlay-hidden {
  top: -100vh;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: variables.$above-overlay;
}
