@use '../abstracts/variables';

// *** BUTTON BASE ***
.button {
  align-items: center;
  border: none;
  border-radius: 8px;
  display: flex;
  font-family: variables.$heading-text;
  justify-content: center;
  margin: 10px 5px;
  text-transform: capitalize;
  transition: all 0.2s;

  &:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
}

// *** BUTTON VARIANTS ***
.primary-button {
  background-color: variables.$blue500;
  color: variables.$grey100;
}

.secondary-button {
  border:  variables.$grey100;

  &:hover {
    background-color: variables.$grey300;
  }
}

// *** BUTTON SIZES ***
.xs-button {
  font-size: 14px;
  min-width: 75px;
}

.small-button {
  font-size: 16px;
  min-width: 100px;
  padding: 4px;
}

.medium-button {
  font-size: 18px;
  min-width: 150px;
  padding: 8px;
}

.large-button {
  font-size: 20px;
  min-width: 175px;
  padding: 12px;
}