@use '../abstracts/variables';

footer {
  bottom: 0;
  color: variables.$grey300;
  display: flex;
  height: variables.$footer-height;
  margin-top: 50px;
  position: absolute;
  width: 100%;
}

.footer-inner {
  border-top: 1px solid variables.$grey700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: variables.$max-content;
  width: 100%;

  .footer-links {
    margin: 15px auto;

    a {
      margin: 0 15px;
    }

    svg {
      fill: variables.$grey300;

      &:hover {
        fill: variables.$grey100;
      }
    }
  }

  .footer-copyright {
    text-align: center;
  }
}
