@use '../abstracts/variables';

footer {
  background-color: variables.$black;
  bottom: 0;
  color: variables.$grey300;
  height: variables.$footer-height;
  padding-top: 50px;
  position: absolute;
  width: 100vw;
}

.footer-desktop {
  padding-bottom: calc(150px + env(safe-area-inset-bottom));
}

.footer-mobile {
  padding-bottom: calc(variables.$mobile-navbar-height + 100px + env(safe-area-inset-bottom));
}

.footer-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1280px;

  .footer-links {
    margin: 15px auto;

    a {
      margin: 0 15px;
    }

    svg {
      fill: variables.$grey300;

      &:hover {
        fill: variables.$grey100;
      }
    }
  }

  .footer-copyright {
    text-align: center;
  }
}
