@use '../abstracts/variables';

footer {
  background-color: variables.$blue900;
  padding-bottom: calc(variables.$mobile-navbar-height + 50px + env(safe-area-inset-bottom));
  padding-top: 25px;
  width: 100vw;
}

.footer-mobile {
  padding-bottom: calc(variables.$mobile-navbar-height + 50px + env(safe-area-inset-bottom));
}

.footer-inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;

  .footer-logo {
    align-self: center;
    height: 50px;
    margin-bottom: 15px;
    width: 50px;
  }

  .footer-links {
    margin: 15px auto;

    svg {
      margin: 0 15px;

      &:hover {
        fill: variables.$blue500;
      }
    }
  }

  .footer-copyright {
    font-size: 14px;
    text-align: center;
  }
}
