@use '../abstracts/variables';

.mobile-nav-tab {
  height: 100%;
  justify-content: space-between;
  padding: 0 15px;
  width: 100%;

  .nav-tab-inner {
    align-items: center;
    color: variables.$grey100;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: lighter;
    height: 100%;
    justify-content: space-evenly;
    padding: 0.5rem 0;
  }
}