@use '../abstracts/variables';

label input { display: none; }

label input:checked {
  + .mobile-menu {
    border-radius: 0;
    box-shadow: 0 0 0 100vw variables.$blue500, 0 0 0 100vh variables.$blue500;
  }

  + .mobile-menu .hamburger {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  + .mobile-menu .hamburger:before {
    top: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }

  + .mobile-menu .hamburger:after {
    bottom: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }

  + .mobile-menu + nav { 
    opacity: 1 ;
    transition: 0.25s ease-in;
    -webkit-transition: 0.25s ease-in;
    transition-delay: 0.1s;
    visibility: visible;
  }
}

label .mobile-menu {
  align-items: center;
  background: variables.$blue500;
  border-radius: 50%;
  bottom: 25px;
  box-shadow: 0 0 0 0 variables.$blue500, 0 0 0 0 variables.$blue500;
  cursor: pointer;
  display: flex;
  height: 60px;
  justify-content: center;
  position: fixed;
  right: 25px;
  transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  width: 60px;
  z-index: variables.$overlay;
}

label .hamburger {
  background: variables.$grey100;
  display: block;
  height: 3px;
  position: absolute;
  transform-origin: center;
  -webkit-transform-origin: center;
  transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  width: 25px;

  &:before {
    top: -7.5px;
  }

  &:after {
    bottom: -7.5px;
  }

  &:before, &:after {
    background: variables.$grey100;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    width: 100%;
  }
}

.mobile-nav-inner {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 50%;
  opacity: 0;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transition: 0.25s ease-in;
  -webkit-transition: 0.25s ease-in;
  visibility: hidden;
  z-index: variables.$overlay;
  
  a {
    color: variables.$grey100;
    margin: 0 auto;
    text-align: center;
  }
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  letter-spacing: 1px;
  text-decoration: none;

  a {
    margin-bottom: 25px;
    position: relative;
    text-decoration: none;
  }
}

.active-mobile-nav-link {
  font-weight: 600;
}

.active-mobile-nav-link::after {
    background-color: variables.$grey100;
    bottom: 0;
    content: '';
    left: 0;
    height: 3px;
    opacity: 1;
    position: absolute;
    transition: opacity 300ms, transform 300ms;
    transform: translate3d(0, 0.2em, 0);
    width: 100%;
  }

@media only screen and (min-width: 769px) {
  .mobile-nav {
    display: none;
  }
}