@use '../abstracts/variables';

.mobile-nav {
  align-items: center;
  display: flex;
  height: 100vh;
  left: 50%;
  overflow: hidden;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transition: 0.5s ease-in;
  transition-delay: 0.1s;
  width: 100vw;
  z-index: variables.$above-overlay;
}

.floating-action-button {
  align-items: center;
  background: variables.$blue500;
  border-radius: 50%;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: center;
  right: 20px;
  position: fixed;
  transition: all 0.5s ease-in-out;
  width: 60px;

  &:hover {
    cursor: pointer;
  }

  .bar-1,
  .bar-2,
  .bar-3 {
    background: variables.$grey100;
    display: block;
    height: 3px;
    margin: 2px 0;
    transform-origin: center;
    -webkit-transform-origin: center;
    transition: all 0.5s;
    width: 25px;
  }

  .bar-1.bar-1-open {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .bar-2.bar-2-open {
    opacity: 0;
  }

  .bar-3.bar-3-open {
    -webkit-transform: rotate(45deg) translate(5px, -5px);
    transform: rotate(45deg) translate(-5px, -5px);
  }
}

.fab-open {
  box-shadow: 0 0 0 150vw variables.$blue500,
    0 0 0 150vh variables.$blue500;
  position: inherit;
}

.fab-closed {
  box-shadow: 0 0 0 0 variables.$blue500, 0 0 0 0 variables.$blue500;
}

.mobile-nav-inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 175px);
  padding: 25% 50px;
  width: 100vw;
  z-index: inherit;
}

.mobile-nav-links {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  letter-spacing: 1px;
  margin-top: 25px;
  right: 0px;
  text-decoration: none;
  transition: all 0.75s;
  width: 100%;
  z-index: inherit;

  .mobile-nav-link {
    color: variables.$grey100;
    margin-bottom: 35px;
    position: relative;
    text-decoration: none;
    width: max-content;
  }

  .active-mobile-nav-link {
    font-weight: 600;
    width: max-content;
  }

  .active-mobile-nav-link::after {
    background-color: variables.$grey100;
    bottom: 0;
    content: '';
    left: 0;
    height: 4px;
    opacity: 1;
    position: absolute;
    transition: opacity 300ms, transform 300ms;
    width: 100%;
  }
}

.mobile-nav-links-show {
  opacity: 1;
  position: relative;
  bottom: 0px;
}

.mobile-nav-links-hide {
  opacity: 0;
  position: relative;
  bottom: -65px;
  transition: 0.2s;
  visibility: hidden;
}

@media only screen and (min-width: 769px) {
  .mobile-nav {
    display: none;
  }
}
