@use '../abstracts/variables';

.desktop-nav {
  background-color: variables.$grey900;
  height: 100px;
  padding: 20px 50px;
  position: fixed;
  transition: all 0.5s;
  width: 100%;
}

.desktop-nav-shadow {
  filter: drop-shadow(0px -10px 25px variables.$black);
}

.desktop-nav-no-shadow {
  background-color: transparent;
  filter: none;
}

.desktop-nav-show {
  top: 0px;
}

.desktop-nav-hidden {
  top: -110px;
}

.nav-inner {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1920px;
}

.nav-links {
  a {
    color: variables.$grey300;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 50px;
    padding-bottom: 5px;
    position: relative;
    text-decoration: none;
    transition: color 300ms;
  }

  a:hover {
    color: variables.$grey100;
  }

  .active-page {
    color: variables.$grey100;
  }

  .active-page::after {
    background-color: variables.$grey100;
    bottom: 0;
    content: '';
    left: 0;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: opacity 300ms, transform 300ms;
    transform: translate3d(0, 0.1em, 0);
    width: 100%;
  }

  a::after {
    background-color: variables.$grey100;
    bottom: 0;
    content: '';
    left: 0;
    height: 2px;
    opacity: 0;
    position: absolute;
    transition: opacity 300ms, transform 300ms;
    width: 100%;
  }

  a:hover::after,
  a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.1em, 0);
  }
}

@media only screen and (max-width: 768px) {
  .nav-inner {
    justify-content: center;
  }

  .nav-links {
    display: none;
  }
}
