@use '../abstracts/variables';

.desktop-nav {
  padding: 25px 50px;
  width: 100%;
}

.nav-inner {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1920px;
}

.nav-links {
  font-size: 16px;
  letter-spacing: 2px;

  a {
    color: variables.$grey300;
    margin-left: 50px;
    padding-bottom: 5px;
    position: relative;
    text-decoration: none;
    transition: color 300ms;
  }

  a:hover {
    color: variables.$grey100;
  }

  .active-page {
    color: variables.$grey100;
  }

  .active-page::after {
    background-color: variables.$grey100;
    bottom: 0;
    content: '';
    left: 0;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: opacity 300ms, transform 300ms;
    transform: translate3d(0, 0.2em, 0);
    width: 100%;
  }

  a::after {
    background-color: variables.$grey100;
    bottom: 0;
    content: '';
    left: 0;
    height: 2px;
    opacity: 0;
    position: absolute;
    transition: opacity 300ms, transform 300ms;
    width: 100%;
  }

  a:hover::after,
  a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
}

@media only screen and (max-width: 768px) {
  .nav-inner {
    justify-content: center;
  }

  .nav-links {
    display: none;
  }
}
