@use '../abstracts/variables';

.project-tile {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin-bottom: 35px;
  padding: 25px 50px;
}

.project-tile-left {
  direction: ltr;

  .project-text {
    text-align: right;
  }
}

.project-tile-right {
  direction: rtl;

  .project-text {
    text-align: left;
  }
}

.project-text {
  display: flex;
  flex-direction: column;

  .project-title {
    color: variables.$black;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 15px;
  }

  .project-description {
    align-self: flex-end;
    font-size: 18px;
    line-height: 1.5;
    max-width: 500px;
    width: 100%;
  }

  .project-tech {
    color: variables.$grey500;
    font-size: 15px;
  }
}

.tile-light-text {
  .project-title,
  .project-description,
  .project-tech {
    color: variables.$grey100;
  }
}

.tile-dark-text {
  .project-title,
  .project-description,
  .project-tech {
    color: variables.$black;
  }
}

@media only screen and (max-width: 768px) {
  .project-tile {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    margin-bottom: 35px;
    padding: 0;

    .project-text {
      padding: 0px 8vw 15px 8vw;
      text-align: left;
    }

    .project-title {
      font-size: 28px;
    }

    .project-description {
      font-size: 16px;
      width: 100%;
    }

    .project-tech {
      font-size: 14px;
      line-height: 1.25;
      margin-top: 15px;
    }
  }
}
