@use '../abstracts/variables';

.project-tile {
  display: flex;
  flex-wrap: wrap;
  height: 20vw;
  margin: 2.5vw auto 5vw auto;
  max-height: 375px;
  min-height: 200px;
  width: 100%;
}

.project-tile-left {
  flex-direction: row;
}

.project-tile-right {
  flex-direction: row-reverse;
}

.project-tile-image {
  background-position: top center;
  background-size: cover;
  flex: 2.5 1 0;

  &:hover {
    cursor: pointer;
  }
}

.project-tile-text {
  background-color: variables.$black;
  flex: 1 1 0;
  padding: 2vw;

  h3 {
    margin-bottom: 0.5em;
  }

  p {
    font-size: clamp(0.5em, 0.85em, 1.25em);
    line-height: 1.5;
  }
}
