@use '../abstracts/variables';

body {
  background-color: variables.$grey900;
  z-index: variables.$base;
}

button {
  &:hover {
    cursor: pointer;
  }
}

.no-scroll {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
