@use '../abstracts/variables';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap');

body {
  color: variables.$grey100;
  font-family: variables.$body-text;
  font-size: clamp(1em, 1.2vw, 1.25em);
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  color: variables.$grey100;
  font-family: variables.$heading-text;
  font-weight: 700;
}

h1 {
  font-size: clamp(2em, 3.5vw, 2.5em);
}