@use '../abstracts/variables';
@use '../abstracts/mixins';

// Shared styles
body {
  color: variables.$grey100;
  font-family: variables.$body-text;
  font-weight: 400;
  line-height: 1.75;
}

@include mixins.headings {
  color: variables.$grey100;
  font-family: variables.$heading-text;
  font-weight: 400;
  line-height: 1.3;
  margin: 3rem 0 1.38rem;
  max-width: 50ch;
}

a {
  &:hover {
    cursor: pointer;
  }
}

p {
  margin-bottom: 1rem;
  max-width: 65ch;
}

.uppercase {
  text-transform: uppercase;

  @include mixins.headings {
    letter-spacing: 1px;
  }
}

// Mobile styles
html {
  font-size: 100%;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small,
.text-small {
  font-size: 0.833rem;
}

// Non-mobile styles
@media only screen and (min-width: 769px) {
  html {
    font-size: 18px;
  }

  h1 {
    margin-top: 0;
    font-size: 4.209rem;
  }

  h2 {
    font-size: 3.157rem;
  }

  h3 {
    font-size: 2.369rem;
  }

  h4 {
    font-size: 1.777rem;
  }

  h5 {
    font-size: 1.333rem;
  }

  small,
  .text-small {
    font-size: 0.75rem;
  }
}
