@use '../abstracts/variables';

.portrait-image-container {
  filter: drop-shadow(12px 12px 0 variables.$blue500);
  height: 300px;
  margin-bottom: calc(12px + 2rem);
  position: relative;
  width: 300px;
}
