@use '../abstracts/variables';

.contact-text {
  width: 65ch;
}

.form-fieldset {
  border-width: 0px;
  display: flex;
  flex-direction: column;

  label {
    color: variables.$grey500;
    font-size: 0.85em;
    text-transform: uppercase;
  }
}