.error-page {
  padding-top: 2.5rem;

  h3 {
    text-align: center;
  }

  .err-paragraphs {
    margin: 5rem auto;
    width: max-content;
  }
}

.err-gif {
  margin: 0 auto;
  width: max-content;
};
