@use '../abstracts/variables';

.first-home-block {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
}

.first-block-inner {
  backdrop-filter: blur(7px);
  display: flex;
  margin: auto;
  margin-top: 25vh;
  max-width: 1280px;
  padding: 25px;
  position: relative;
  width: max-content;

  &::before {
    background-color: variables.$black;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: variables.$backdrop;
  }
}

.first-block-inner-text {
  border-left: 5px solid variables.$blue500;
  max-width: 800px;
  padding: 25px;

  p:first-of-type {
    margin-bottom: 25px;
  }
}

.second-home-block {
  background: transparent;
  display: flex;
  flex-direction: column;
  width: 100%;
}