@use '../abstracts/variables';

.first-home-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 65vh;
  justify-content: center;
  padding: 0px 6.395348837% 88px;
}

.first-block-inner {
  max-width: variables.$max-content;
  width: 100%;
}

.first-block-inner-text {
  margin: 0 auto;
  max-width: 100%;
  width: max-content;

  h4 {
    color: variables.$grey300;
  }
}
