@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap');

:root {
  /* Colors */
    /* Primary */
    --blue100: #B3D9FF;
    --blue300: #4CA6FF;
    --blue500: #0073E6;
    --blue700: #004080;
    --blue900: #00264D;
    
    /* Neutrals */
    --grey100: #F2F2F2;
    --grey300: #BDBDBD;
    --grey500: #878787;
    --grey700: #4F4F4F;
    --grey900: #1A1A1A;

  /* Typography */
  --heading-text: 'Inter', sans-serif;
  --body-text: 'Inter', sans-serif;
}

body {
  background-color: var(--grey900);
  color: var(--grey100);
  font-family: var(--body-text);
  font-size: 18px;
  height: 100vh;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-text);
}

a, a:hover {
  color: var(--grey100);
}