@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');

body {
  background-color: #212322;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  height: 100vh;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

a, a:hover {
  color: white;
}